extends layout

block content
  if (!user)
    h1 Administrators are allowed only.
  if (user)
    .container
      h1 Add Book
      p.lead Add book details.
      if message
        .alert.alert-success
          p= message
      p.lead.help-block Labels in asterisk(*) are to be filled up.
      form(id='addform',role='form', action="/upload",enctype="multipart/form-data",method="post",onsubmit="waitingDialog.show('Uploading Book...')")
        .row
          .col-md-4
            .form-group
              p ISBN
              input.form-control(type='text', name="isbn", placeholder='Enter ISBN')
            .form-group
              p Title*
              input.form-control(type='text', name="title", placeholder='Enter Title', required)
            .form-group
              p Description
              textarea.form-control(name="desc", placeholder="Enter Description")
            .form-group
              p Author
              input.form-control(type='text', name="author", placeholder='Enter Author')
          .col-md-4
            .form-group
              p Publisher
              input.form-control(type='text', name="publs", placeholder='Enter Publisher')
            .form-group
              p Publishing Year
              input.form-control(type='text', name="pubyear", placeholder='Enter Publishing Year')
            .form-group
              p Volume
              input.form-control(type='text', name="vol", placeholder='Enter Volume')
            .form-group
              p Edition
              input.form-control(type='text', name="edition", placeholder='Enter Edition')
          .col-md-4
            .form-group
              p Book Type
              input.form-control(type='text', name="booktyp", placeholder='Enter Book Type')
            br
            .form-group
              p Add file*
              img(id='pdfThumb')
              input.form-control(type='text', id="thumbdata" name="thumbdata",style='display: none;')
              input(id='fileSel',type='file', name='upl', accept='.pdf', required)
              p.help-block Choose *.pdf file to upload.
              br
              button.btn.btn-primary.btn-block#load(type="submit",style='margin-bottom: 5px;') Save
              a(href='/')
                button.btn.btn-warning.btn-block(type="button") Return
              script.
                //- console.log("test");
                var img = document.getElementById("pdfThumb");
                var dataholder = document.getElementById("thumbdata");
                var fileSel = document.getElementById("fileSel");
                fileSel.addEventListener("change",function(e){
                  waitingDialog.show('Generating Thumbnail....');
                  PDFThumbGenerator(img,dataholder,e.target);
                  setTimeout(function(){
                    waitingDialog.hide();
                  }, 5000);
                })
