extends layout

block content
  if (!user)
    nav.navbar.navbar-inverse.navbar-static-top(role='navigation')
        .navbar-header
          img.img-responsive(style='float: left; margin-left: 20px; margin-top: 10px; margin-right: -13px; height: 35px;', src='/libs/flat-ui/img/icons/svg/book.svg', alt='Clipboard')
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collpase-01')
            span.sr-only Toggle navigation
        a.navbar-brand(href='#') Book-ish
        a(href='/login')
          button.navbar-btn.navbar-right.btn.btn-default(type="button",style='margin-right: 5px;') Login as admin
    .container(style='margin-top: 25vh;')
      img.img-responsive(style='float: left; margin-right: 5px; height: 35px;', src='/libs/flat-ui/img/icons/svg/clipboard.svg', alt='Clipboard')
      h4(style='margin-top: 5px;') Search Book
      p {{ tagline }}
      p.help-block Fill in to search for book.
      form(role='form', action="/search-book",method="post")
        .form-group
          .row
            .col-md-10
              input.form-control(type='text', name="searchBar", placeholder='Search', required)
            .col-md-2
              button.btn.btn-primary.btn-block(type="submit") Search
    //- .footer
    //-   p.text-center Thank you!
  if (user)
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .navbar-header(style='margin-right: 3px;')
        img.img-responsive(style='float: left; margin-left: 20px; margin-top: 10px; margin-right: -13px; height: 35px;', src='/libs/flat-ui/img/icons/svg/book.svg', alt='Clipboard')
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collpase-01')
          span.sr-only Toggle navigation
        a.navbar-brand(href='#') Book-ish
      #navbar-collapse.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-left
          li.dropdown
          li.dropdown
            a.dropdown-toggle(href='/add') Add Book
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown') Edit Book
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown') Delete Book
        ul.nav.navbar-nav.navbar-right(style='margin-right: 5px;')
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              span.fui-user 
              | #{user.username}
              b.caret
            span.dropdown-arrow
            ul.dropdown-menu
              li
                a(href='/logout') 
                  span.fui-exit 
                  | Logout
          li.dropdown
