extends layout

block content
  include navigation
  .container(style='margin-top: 15px;')
    img.img-responsive(style='float: left; margin-right: 5px; height: 35px;', src='/libs/flat-ui/img/icons/svg/clipboard.svg', alt='Clipboard')
    h4(style='margin-top: 5px;') Search Book
    p.help-block Fill in to search for book.
    form(role='form', action="/search-book",method="post")
      .form-group
        .row
          .col-md-10
            input.form-control(type='text', name="searchBar", placeholder='Search', required)
          .col-md-2
            button.btn.btn-primary.btn-block(type="submit") Search
    div
        // Nav tabs
        ul.nav.nav-tabs(role='tablist')
          li.active(role='presentation')
            a(href='#content', aria-controls='home', role='tab', data-toggle='tab') Content
          li(role='presentation')
            a(href='#author', aria-controls='profile', role='tab', data-toggle='tab') Author
          li(role='presentation')
            a(href='#title', aria-controls='messages', role='tab', data-toggle='tab') Title
          li(role='presentation')
            a(href='#subject', aria-controls='settings', role='tab', data-toggle='tab') Subject
        // Tab panes
      .container(style='margin-top: 15px;')
        .tab-content
          include content_tab
          include author_tab
          include title_tab
          include subject_tab
