#subject.tab-pane(role='tabpanel')
  img.img-responsive(style='float: left; margin-right: 5px; height: 35px;', src='/libs/flat-ui/img/icons/svg/paper-bag.svg', alt='Clipboard')
  h4(style='margin-top: 5px;') Subject
  p.help-block About 0 results are found.
  hr
  ul.media-list
    li.media
      a.pull-left(href='#')
        img.media-object(src='/libs/flat-ui/img/icons/svg/pencils.svg', alt='...')
      .media-body
        h5.media-heading Media heading
        p
          | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
    li.media
      a.pull-left(href='#')
        img.media-object(src='/libs/flat-ui/img/icons/svg/pencils.svg', alt='...')
      .media-body
        h5.media-heading Media heading
        p
          | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
    li.media
      a.pull-left(href='#')
        img.media-object(src='/libs/flat-ui/img/icons/svg/pencils.svg', alt='...')
      .media-body
        h5.media-heading Media heading
        p
          | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
